<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Point & Click</title>
		<link rel="icon" type="image/svg+xml" href="img/favicon.svg">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<p>Available games:<p>
		<ul>
			<!--<li><a href="/game/safari">Safari</a></li>-->
			<li>... WIP ...</li>
		</ul>
		<p><a href="/editor">Editor</a></p>
	</body>
</html>